{% extends 'base.html' %}
{% load static %}
{% block title %}Homepage{% endblock %}
{% block main%}
    <h2>Welcome to our homepage</h2>
    <p>Buy shoes</p>
    <div class="container mt-5">
        <div class="row justify-content-center">
            {% for i in myproducts %}
            <div class="col-md-4">
                <div class="card">
                      <img src="{% static 'images/product3.jpg' %}" class="card-img-top" alt="Fissure in Sandstone"/>
                      <div class="card-body">
                        <h5 class="card-title">{{ i.name }} </h5>
                        <p class="card-text">Some quick example text to build e bulk of the card's content.</p>
                          <h4 class="title">Price:{{ i.price }}</h4>
                        <a href="#!" class="btn btn-primary">Add to Cart</a>
                      </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}